/*------------- #CLIENTS --------------*/



.tt-clients {
  padding: 58px 0;
  background-image: url("/img/clouds12.png");
}

.clients-item {
  position: relative;
  min-height: 50px;
  display: flex;

  img {
    position: relative;
    transition: all .3s linear;
    transform-style: preserve-3d;
    filter: invert(1);

    &:hover {
      filter: invert(0);
    }
  }

  .clients-images {
    position: relative;
    display: block;
    margin: auto;
  }
}



/*================= Responsive Mode ============*/


@media (max-width: 1200px) {
  .tt-clients {
    padding: 40px 0;
  }

  .clients-item {
    margin-bottom: 20px;
  }
}