/*------------- #VARIABLES --------------*/

/* nunito-300 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/nunito-v25-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/nunito-v25-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nunito-v25-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nunito-v25-latin-300.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nunito-v25-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nunito-v25-latin-300.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-v25-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/nunito-v25-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nunito-v25-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nunito-v25-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nunito-v25-latin-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-500 - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/nunito-v25-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/fonts/nunito-v25-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nunito-v25-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nunito-v25-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nunito-v25-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nunito-v25-latin-500.svg#Nunito') format('svg'); /* Legacy iOS */
}


// We use these as default colors throughout

$green: #01a23c !default;
$green-light: #61b131 !default;
$red: #ff3133 !default;
$black: #121921 !default;
$orange: #da4a18 !default;
$grey: #738CAA !default;
$grey-light: #ecf4fc !default;
$grey-dark: #333 !default;
$orange-light: #F89101 !default;
$yellow: #FECF39 !default;
$lime: #9FC31A !default;
$blue: #0082d7 !default;
$blue-light: #98d5ff !default;
$blue-lighteen: #ecf5fe !default;
$yellow-light: #ffff00 !default;
$breez: #00ffff !default;
$lime-light: #00ff00 !default;
$peach: #f4b3a9 !default;
$violet: #bb26f0 !default;
$rose: #e81d51 !default;

$primary-color: #0083ff !default;
$secondary-color: #273f5b !default;
$heading-color: $secondary-color !default;
$global-link-color: $secondary-color !default;


$white-color: #fff !default;
$border-color: #dbe3ec !default;



$h1-fontsize: 48px !default;
$h2-fontsize: 38px !default;
$h3-fontsize: 36px !default;
$h4-fontsize: 32px !default;
$h5-fontsize: 24px !default;
$h6-fontsize: 18px !default;
$h-font-weight: 700 !default;

$heading-font-family: 'Nunito', Arial, 'Helvetica Neue', Helvetica, sans-serif, !default;
$p-font-size: 16px !default;

$h-letter-spacing: .02em;

// We use these to control various global styles

$body-bg: #fff !default;
$body-font-size: 16px !default;
$body-font-color: #4b5d73 !default;
$body-font-family: 'Nunito', Arial, 'Helvetica Neue', Helvetica, serif, sans-serif, !default;
$body-font-weight: 400 !default;
$body-letter-spacing: 0.02em !default;
$base-line-height: 1.6 !default;

$weight-black: 900 !default;


$icon-color: #6987ab !default;


$bg-primary: $primary-color;
$bg-secondary: $secondary-color;



// Variables for switcher
$toggle-enabled-bg: #86d993;
$toggle-enabled-color: #FFFFFF;
$toggle-enabled-tab-bg: #FFFFFF;

$toggle-disabled-bg: #de474e;
$toggle-disabled-color: #FFFFFF;
$toggle-disabled-tab-bg: #FFFFFF;
